/* Text Styling */
h1 {
    color: var(--text-normal);
    font-size: 1.5rem;
}

p {
    color: var(--text-muted);
    font-size: 1rem;
}

a {
    color: var(--text-normal);
    text-decoration: none;
}
a:hover {text-decoration: underline;}

li.bulleted-list {
    list-style: none;
    padding-left: 1rem;
    position: relative;
}
li.bulleted-list::before {
    content: "";

    width: 0.35rem;
    height: 0.35rem;

    background-color: currentColor;
    border-radius: 100%;

    position: absolute;
    left: 0;
    top: 0.6em;
}

.fancy-link {
    transition: all 0.3s ease;
    position: relative;
}
.fancy-link::after {
    content: "";

    width: 100%;
    height: 0.125rem;
    transform: scaleX(0);

    position: absolute;
    top: 100%;
    left: 0%;
    bottom: -.125rem;

    background-color: var(--primary-accent);
    transform-origin: left;
    transition: all 0.3s ease;
}
.fancy-link:hover {
    color: var(--primary-accent);
    text-decoration: none;
}
.fancy-link:hover::after {
    transform: scaleX(1);
}
.fancy-link:active {
    color: var(--secondary-accent);
}
.fancy-link:active::after {
    background-color: var(--secondary-accent);
}

/* Button Components */
button, .btn {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-radius: 0.5rem;
    font-size: 0.8125rem;
    font-family: var(--font-sans);
    box-shadow: var(--box-shadow);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    transition: all 0.3s ease;

    --primary-color: var(--button);
    --secondary-color: var(--button-hover);

    --btn-bg: var(--primary-color);
    --btn-bg-hover: var(--secondary-color);
    --btn-text: var(--text-normal);
    --btn-text-hover: var(--text-normal);
    --btn-border: none;

    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: var(--btn-border);
}
button:hover, .btn:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-text-hover);
    text-decoration: none;
}
button:active, .btn:active {
    transform: scale(0.95);
}

.btn.btn-outline {
    --btn-bg: transparent;
    --btn-bg-hover: var(--primary-color);
    --btn-text: var(--primary-color);
    --btn-text-hover: var(--text-dark);
    --btn-border: 1px solid var(--primary-color);
}

.btn.btn-transparent {
    --btn-bg: transparent;
    --btn-bg-hover: var(--bg-dark);
    --btn-text: var(--text-normal);
    --btn-text-hover: var(--primary-color);
    --btn-border: none;

    box-shadow: none;
}

.btn.btn-circle {
    --btn-bg: transparent;

    padding: 0;
    width: 2rem;

    box-shadow: none;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.btn-circle.circle-xsmall {width: 1rem;}
.btn-circle.circle-small {width: 1.5rem;}
.btn-circle.circle-medium {width: 2rem;}
.btn-circle.circle-large {width: 2.5rem;}
.btn-circle.circle-xlarge {width: 3rem;}

.btn-primary {
    --primary-color: var(--primary-accent);
    --secondary-color: var(--secondary-accent);
    --btn-text: var(--text-dark);
    --btn-text-hover: var(--text-dark);
}
.btn-success {
    --primary-color: var(--success);
    --secondary-color: var(--success-secondary);
    --btn-text: var(--text-dark);
    --btn-text-hover: var(--text-dark);
}
.btn-warning {
    --primary-color: var(--warning);
    --secondary-color: var(--warning-secondary);
    --btn-text: var(--text-dark);
    --btn-text-hover: var(--text-dark);
}
.btn-error {
    --primary-color: var(--error);
    --secondary-color: var(--error-secondary);
    --btn-text: var(--text-dark);
    --btn-text-hover: var(--text-dark);
}

/* Frame Components */
.frame {
    width: auto;
    height: auto;

    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--bg-normal);
    box-shadow: var(--box-shadow);
}

.frame h1 {
    margin-bottom: 1rem;
}

.frame p {
    margin-bottom: 1rem;
}

.frame-dark {
    background-color: var(--bg-medium);
}

.frame-center-heading h1 {
    text-align: center;
}

/* Website Components */
.topbar {
    height: 4rem;

    margin-bottom: 2rem;

    padding-left: 300px;
    padding-right: 300px;

    border-radius: 0;
}

.topbar h1 {
    margin-bottom: 0rem;
}

.footer {
    height: 3.5rem;
    margin-top: 3rem;
}

/* Progress Bar Components */
.progress-bar {
    width: 100%;
    height: .75rem;
    
    background-color: var(--progress-bg);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.progress-bar-fill {
    width: var(--fill);
    height: 100%;
    
    background-color: var(--progress-bar);
    border-radius: 1rem;
}

.progress-thin {height: .25rem; box-shadow: none;}
.progress-small {height: .5rem;}

.progress-primary {background-color: var(--primary-accent);}
.progress-green {background-color: var(--success);}
.progress-yellow {background-color: var(--warning);}
.progress-red {background-color: var(--error);}

/* Dropdown Components */
.dropdown {
    position: relative;
}
.dropdown::before { /* Invisible clickable area to fix hovering */
    content: "";
    width: 100%;
    height: .5rem;

    position: absolute;
    top: 100%;
    left: 0;

    pointer-events: auto;
}

.dropdown-menu {
    width: auto;
    height: auto;
    min-width: 180px;

    margin-top: .5rem;

    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    position: absolute;
    top: 100%;
    left: 50%;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--bg-medium);
    box-shadow: var(--box-shadow);

    opacity: 0;
    transform: translateX(-50%) scale(0.95);
    transform-origin: top;
    pointer-events: none;

    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
}

/* Base Components */
.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr)); /* min350, max of 1fr. can be any size otherwise */
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 1rem;
}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}
.justify-center {display: flex; justify-content: center; align-items: center;}

.gap-tiny {gap: .25rem;}
.gap-1 {gap: .5rem;}
.gap-2 {gap: .75rem;}
.gap-3 {gap: 1rem;}
.gap-4 {gap: 2rem;}

.mt-1 {margin-top: 0.5rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 2rem;}
.mb-1 {margin-bottom: 0.5rem;}
.mb-2 {margin-bottom: 1rem;}
.mb-3 {margin-bottom: 2rem;}
.ml-1 {margin-left: 0.5rem;}
.ml-2 {margin-left: 1rem;}
.ml-3 {margin-left: 2rem;}
.mr-1 {margin-right: 0.5rem;}
.mr-2 {margin-right: 1rem;}
.mr-3 {margin-right: 2rem;}
.margin-1 {margin: 0.5rem;}
.margin-2 {margin: 1rem;}
.margin-3 {margin: 2rem;}

.pt-1 {padding-top: 0.5rem;}
.pt-2 {padding-top: 0.75rem;}
.pt-3 {padding-top: 1rem;}
.pt-4 {padding-top: 2rem;}
.pb-1 {padding-bottom: 0.5rem;}
.pb-2 {padding-bottom: 0.75rem;}
.pb-3 {padding-bottom: 1rem;}
.pb-4 {padding-bottom: 2rem;}
.pl-1 {padding-left: 0.5rem;}
.pl-2 {padding-left: 0.75rem;}
.pl-3 {padding-left: 1rem;}
.pl-4 {padding-left: 2rem;}
.pr-1 {padding-right: 0.5rem;}
.pr-2 {padding-right: 0.75rem;}
.pr-3 {padding-right: 1rem;}
.pr-4 {padding-right: 2rem;}
.padding-1 {padding: 0.5rem;}
.padding-2 {padding: 1rem;}
.padding-3 {padding: 2rem;}

/*.material-icons-outlined {font-size: 1em;}*/
.text-xsmall {font-size: 0.75rem;}
.text-small {font-size: 0.875rem;}
.text-medium {font-size: 1rem;}
.text-large {font-size: 1.125rem;}
.text-xlarge {font-size: 1.5rem;}

.text-semibold {font-weight: 600;}
.text-bold {font-weight: bold;}

.textcol-normal {color: var(--text-normal);}
.textcol-muted {color: var(--text-muted);}
.textcol-clear {color: var(--text-clear);}
.textcol-dark {color: var(--text-dark);}

.stretch-width {
    width: 100%;
    min-width: 0;
    display: flex;
    flex: 1;
}

.stretch-height {
    height: 100%;
    min-height: 0;
    display: flex;
    flex: 1;
}

.fill-space {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex: 1;
}

.accent-color {color: var(--primary-accent);}