/* Base Components */
.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr)); /* min350, max of 1fr. can be any size otherwise */
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 1rem;
}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}
.justify-center {display: flex; justify-content: center; align-items: center;}

.gap-1 {gap: .5rem;}
.gap-2 {gap: 1rem;}
.gap-3 {gap: 2rem;}

.mt-1 {margin-top: 0.5rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 2rem;}
.mb-1 {margin-bottom: 0.5rem;}
.mb-2 {margin-bottom: 1rem;}
.mb-3 {margin-bottom: 2rem;}
.ml-1 {margin-left: 0.5rem;}
.ml-2 {margin-left: 1rem;}
.ml-3 {margin-left: 2rem;}
.mr-1 {margin-right: 0.5rem;}
.mr-2 {margin-right: 1rem;}
.mr-3 {margin-right: 2rem;}
.margin-1 {margin: 0.5rem;}
.margin-2 {margin: 1rem;}
.margin-3 {margin: 2rem;}

.pt-1 {padding-top: 0.5rem;}
.pt-2 {padding-top: 1rem;}
.pt-3 {padding-top: 2rem;}
.pb-1 {padding-bottom: 0.5rem;}
.pb-2 {padding-bottom: 1rem;}
.pb-3 {padding-bottom: 2rem;}
.pl-1 {padding-left: 0.5rem;}
.pl-2 {padding-left: 1rem;}
.pl-3 {padding-left: 2rem;}
.pr-1 {padding-right: 0.5rem;}
.pr-2 {padding-right: 1rem;}
.pr-3 {padding-right: 2rem;}
.padding-1 {padding: 0.5rem;}
.padding-2 {padding: 1rem;}
.padding-3 {padding: 2rem;}

.text-xsmall {font-size: 0.75rem;}
.text-small {font-size: 0.875rem;}
.text-default {font-size: 1rem;}
.text-large {font-size: 1.125rem;}
.text-xlarge {font-size: 1.5rem;}

.text-semibold {font-weight: 600;}
.text-bold {font-weight: bold;}

.text-normal {color: var(--text-normal);}
.text-muted {color: var(--text-muted);}
.text-clear {color: var(--text-clear);}
.text-dark {color: var(--text-dark);}

.stretch-width {
    width: 100%;
    min-width: 0;
    display: flex;
    flex: 1;
}

.stretch-height {
    height: 100%;
    min-height: 0;
    display: flex;
    flex: 1;
}

.accent-color {color: var(--primary-accent);}

/* Text Styling */
h1 {
    color: var(--text-normal);
    font-size: 1.5rem;
}

p {
    color: var(--text-muted);
    font-size: 1rem;
}

a {
    color: var(--primary-accent);
    text-decoration: none;
}
a:hover {text-decoration: underline;}

/* Button Components */
button {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--button);
    color: var(--text-normal);
    box-shadow: var(--box-shadow);

    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    transform: scale(0.95);
}

.button-primary {
    background-color: var(--primary-accent);
    color: var(--text-dark);
}

.button-primary:hover {
    background-color: var(--secondary-accent);
}

.button-large {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: 600;
}

/* Frame Components */
.frame {
    width: auto;
    height: auto;

    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--bg-normal);
    box-shadow: var(--box-shadow);
}

.frame h1 {
    margin-bottom: 1rem;
}

.frame p {
    margin-bottom: 1rem;
}

.frame-dark {
    background-color: var(--bg-medium);
}

.frame-center-heading h1 {
    text-align: center;
}

/* Website Components */
.topbar {
    height: 3.5rem;
}

.topbar h1 {
    margin-bottom: 0rem;
}

.footer {
    height: 3.5rem;
    margin-top: 3rem;
}

/* Progress Bar Components */
.progress-bar {
    width: 100%;
    height: .75rem;
    
    background-color: var(--progress-bg);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.progress-bar-fill {
    width: var(--fill);
    height: 100%;
    
    background-color: var(--progress-bar);
    border-radius: 1rem;
}

.progress-thin {height: .25rem; box-shadow: none;}
.progress-small {height: .5rem;}

.progress-green {background-color: var(--success);}
.progress-yellow {background-color: var(--warning);}
.progress-red {background-color: var(--error);}
.progress-accent {background-color: var(--primary-accent);}





