<footer class="footer column-top align-center gap-1">
    <div class="row-center gap-1">
        <a href="#" class="text-xsmall textcol-muted">Home</a>
        <a href="#" class="text-xsmall textcol-muted">Contact</a>
        <a href="#" class="text-xsmall textcol-muted">Terms</a>
        <a href="#" class="text-xsmall textcol-muted">Privacy</a>
        <a href="#" class="text-xsmall textcol-muted">Legal</a>
        <a href="#" class="text-xsmall textcol-muted">Credits</a>
    </div>
    <p class="text-xsmall">© 2026 Coding<span class="accent-color">Dex</span>. All rights reserved.</p>

</footer>