<header class="frame topbar row-center">
    <!-- Topbar -->
    <div class="fill-space row-left">
        <a href="#" class="topbar-logo row-left textcol-normal text-bold text-xlarge">
            <i class="fa-solid fa-laptop-code text-xxlarge mr-2"></i>
            Coding<span class="accent-color">Dex</span>
        </a>
    </div>

    <div class="fill-space row-center gap-4">
        <a href="/" class="text-large textcol-normal fancy-link">Dashboard</a>
        <a href="/learn.html" class="text-large textcol-normal fancy-link">Lessons</a>
        <a href="#" class="text-large textcol-normal fancy-link">Practice</a>
    </div>

    <div class="fill-space row-right gap-1">
        <button id="theme-toggle" class="btn btn-circle circle-xlarge text-large">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
        <div class="dropdown">
            <button class="btn btn-circle circle-xlarge text-large">
                <i class="fa-solid fa-bars"></i>
            </button>

            <div class="dropdown-menu column-top gap-tiny">
                <a href="#" class="btn btn-primary btn-transparent text-small row-left gap-2">
                    <i class="fa-solid fa-user"></i>
                    Profile
                </a>
                <a href="#" class="btn btn-primary btn-transparent text-small row-left gap-2">
                    <i class="fa-solid fa-gear"></i>
                    Settings
                </a>
                <a href="#" class="btn btn-primary btn-transparent text-small row-left gap-2">
                    <i class="fa-solid fa-envelope"></i>
                    Contact
                </a>
                <a href="#" class="btn btn-primary btn-transparent text-small row-left gap-2">
                    <i class="fa-solid fa-bug"></i>
                    Report a Bug
                </a>
                <a href="#" class="btn btn-error btn-transparent text-small row-left gap-2">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
    <!-- End of topbar -->
</header>